import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = props => {
return (
<div className={styles.{{pascalCase name}} }>
</div>
);
};


{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};